:root{
  --oscuro2: rgb(52, 52, 61);
  --oscuro: rgb(44, 44, 56);
  
}
*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container-app{
  min-height: 100vh;
  
}
aside{
  float: left;
  width: 270px;
  min-height: 100vh;
  background-color: var(--oscuro);
  padding: 20px;
  box-sizing: border-box;
}
header{
  height: 8vh;
  background-color: var(--oscuro2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}
header h2{
  color: white;
  margin: 0;
  margin-right: 30px;
}
aside h2{
  color: white;
  text-align: center;
  font-weight: 100;
  margin-bottom: 100px;
  font-size: 1.5rem;
}
aside h1{
  color: white;
  text-align: center;
  font-weight: bold;
  
}
aside h2 span{
  font-weight: 800;
}
aside ul{
  list-style: none;
  padding: 20px;
  color: white;
}

aside ul li{
  padding: 15px 0;
}

/*------------LOGIN-------------*/
.container-login{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-login .card-header{
  background-color: var(--oscuro);
  text-align: center;
  color: white;
  font-weight: bold;
}
.container-login .container-button{
  text-align: center;
}
.container-login .container-button button{
  font-size: 12px;
}

/*-----------------*/
.sombra{
  box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, .5);
}